body {
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
}

#mainContainer {
    margin-left: 5px;
}

div#scene {
    margin: 5px auto;
    width: 802px;
}

#top-container {
    overflow: hidden;
    width: 802px;
    margin-bottom: 5px;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px auto;
}

#bottom-container {
    width: 802px;
}

#bottom-container div {
    display: inline-block;
    width: 398px;
    min-height: 22px;
    background-color: ghostwhite;
    height: auto;
    padding: 10px;
    border: 1px solid gray;
    margin: auto;
}

#bottom-container {
    margin-top: 5px;
    overflow: hidden;
    width: 800px;
    margin: 10px auto;
}

.right {
    float: right;
    width: 355px;
}

.left {
    overflow: hidden;
    width: 390px;
}
